<div class = "container">
	<footer class = "footer">
		<small>
			Copyright &copy; Farren Buckley - 2016
		</small>
		<nav>
			<ul>
				<small>
				<li><%= link_to "About", about_path %></li>
				</small>
			</ul>	
		</nav>
	</footer>
</div>
